
<div class="container-fluid">
  <%= simple_form_for @product do |f| %>
    <h2>Novo Produto</h2>
    <hr>
    <%= f.input :name %><br>
    <%= f.input :description %><br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <hr>
    <%= f.button :submit %>
  <% end %>
</div>
