<h2 class="ls-title-intro ls-ico-user"><%= t('show_product') %></h2>

<span>
  <h3><%= @product.name %></h3>
  <hr>
  <p><strong><%= t('activerecord.attributes.product.description') %>: </strong><%= @product.description %></p>
  <p><%= image_tag @product.image %></p>
</span>
