<% if @plan.errors.any? %>
  <ul>
  <% @plan.errors.full_messages.each do |error|%>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= simple_form_for @plan do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <br>
  <%= f.input :description, label: 'Descrição' %>
  <br>
  <div class="input_fields_wrap">
    <div>
      <p>Detalhe<button class="add_field_button">Adicionar Detalhe</button></p>
    </div>
  </div>
  <br>
  <%= f.input :product_id, collection: @products, label: 'Produto', prompt: :translate %>
  <br>

  <div class="input_fields_wrap_price">
    <div>
      <p>Periodicidade<button class="add_field_button_price">Adicionar periodicidade</button></p>
    </div>
  </div>

  <%= f.simple_fields_for :prices do |price| %>
    <%= price.input :periodicity_id, collection: @periodicities,
                                     label: 'Periodicity',
                                     prompt: :translate %>
    <%= price.input :value %>
  <% end %>

  <%= f.submit 'Atualizar plano' %>
<% end %>
