<h2 class="ls-title-intro ls-ico-user"><%= t('create_plan') %></h2>

<% if @plan.errors.any? %>
  <ul>
  <% @plan.errors.full_messages.each do |error|%>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<section id="customer_form">
  <%= simple_form_for @plan do |f| %>

    <div class="form-inputs">
      <label class="ls-label col-md-3">
        <%= f.input :name %>
      </label>

      <label class="ls-label col-md-3">
        <%= f.input :description %>
      </label>

        <div class="input_fields_wrap">
          <div>
            <label class="ls-label col-md-3">
              <label class="text required control-label"><%= t('activerecord.attributes.plan.details') %> <button class="add_field_button ls-btn-primary" id="detalhe">+</button></label>
            </label>
          </div>
        </div>

        <label class="ls-label col-md-3">
          <b class="ls-label-text"><%= t('activerecord.attributes.plan.product') %></b>
          <div class="ls-custom-select">
              <%= f.input_field :product_id, collection: @products, prompt: :translate, class: "ls-custom-select" %>
          </div>
        </label>

        <div class="form-actions">
          <%= f.submit class: 'ls-btn-primary ls-btn-block ls-btn-lg' %>
        </div>
      <% end %>
  </div>
</section>
